*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
}

body{
background: linear-gradient(135deg, #1e3c72, #2a5298);
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px 50px;
background: rgba(255,255,255,0.1);
backdrop-filter: blur(10px);
position:sticky;
top:0;
}

.logo{
font-size:24px;
font-weight:bold;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
transition:0.3s;
}

nav a:hover{
color:yellow;
}

.home{
display:flex;
align-items:center;
justify-content:space-around;
padding:80px;
flex-wrap:wrap;
}

.home-text h1{
font-size:40px;
}

.home-text span{
color:yellow;
}

.home-text p{
    font-size: 20px;
}
.home-text button{
margin-top:60px;
padding:20px 35px;
background:yellow;
border:none;
border-radius:25px;
cursor:pointer;
}

.home-img img{
width:200px;
border-radius:50%;
border:5px solid white;
box-shadow:0 0 20px rgba(255,255,255,0.5);
}

.card{
margin:40px;
padding:30px;
background: rgba(255,255,255,0.1);
border-radius:15px;
backdrop-filter: blur(10px);
text-align:center;
}

.project{
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}

.project a {
    color: rgb(230, 157, 169);
    text-decoration: none;
}

button{
font-weight:bold;
}

@media(max-width:768px){
.home{
flex-direction:column;
text-align:center;
}
}

.social-links {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}
.social-links a {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: 0.3s;
}
.social-links a:hover {
    color: maroon;
    transform: scale(1.2);
}
.about {
    max-width: 800px;
    margin: 80px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.about h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
}
.contact {
    padding: 60px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #222;
}

.contact p {
    font-size: 20px;
    color: whitesmoke;
}

.contact-info {
    margin: 20px 0;
    line-height: 2;
    font-size: 18px;
}

.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.contact-form button {
    padding: 12px;
    font-size: 18px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #0056b3;
}